body {
    background: pink;
    margin-left: 10px;
}

.drumContainer {
    display: grid;
    grid: repeat(3, 80px) / auto-flow 80px;
}

.drumItem {
    width: 65px;
    height: 65px;
    background-color: palegoldenrod;
}

.pianoContainer {
    display: grid;
    grid: repeat(1, 0) / auto-flow 60px;
}

.pianoItem {
    width: 50px;
    height: 100px;
    background-color: oldlace;
    margin: 5px;
}  

.changeColorKey {
    background-color: darksalmon;
}